<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Add New User</h1>
    <form id="addUserForm" action="/users/add" method="POST">
        <label for="firstName">firstName:</label><br>
        <input type="text" id="firstName" name="firstName" ><br>
        <label for="lastName">lastName:</label><br>
        <input type="text" id="lastName" name="lastName" ><br>
        <button type="submit">Add User</button>
    </form>

    <h1>All Users</h1>
    <table border="1" id="usersTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody id="usersTableBody">

            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.firstName %>
                    </td>
                    <td>
                        <%= user.lastName %>
                    </td>
                    <td>
                        <a href="/users/<%= user.id %>">Delete</a>
                    </td>
                    <td>
                        <a href="/users/<%= user.id %>">Update</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>